<a href="https://colab.research.google.com/github/edelgado-1975/PythonSena/blob/main/16_PF_Lambda_y_F_Orden_Superior.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![M I S I Ó N.png]()

# Programación Funcional en Python

## Funciones Lambda

Las expresiones Lambda nos permiten crear funciones anónimas que se utilizan para realizar operaciones rápidas en las que requerimos de alguna funcionalidad que podemos ejecutar directamente sin necesidad de realizar una declaración formal de la función.

Sintaxis de una expresión Lambda:



```
lambda argumentos: expresión
```

Ejemplo:  Requerimos una función que reciba un número y retorne el cuadrado de ese número.

De forma tradicional:

In [ ]:
def cuadrado(num):
  return num ** 2

print (cuadrado(6))

Con expresión Lambda:

In [ ]:
res = lambda num : num ** 2
print (type(res))
print (res(6))

Observemos en la línea 1 el uso de la expresión lambda para crear una función sin nombre (anónima) que recibe la variable res.  En este caso res se convierte en una función que adquiere el comportamiento de la función lambda y posterior a ello ya la podemos utilizar como lo hacemos en la línea 2.

Analicemos de nuevo la línea 1


```
res = lambda num : num ** 2
```
 Esta indica que la función lambda recibe un parámetro llamado num y lo que hace es tomar ese parámetro y elevarlo a la 2.

Debido a que la expresión lambda es una función en si misma, podríamos invocarla de la siguiente manera:

In [ ]:
print ((lambda num : num ** 2)(6))

o mejor aún así, para recibir el parámetro por parte del usuario:

In [ ]:
print ((lambda num : num ** 2)(int(input("ingrese un número"))))

**¿Cómo serían las funciones lambda equivalentes a las siguientes funciones tradicionales?**


---

In [ ]:
def sumar(num1,num2):
    return num1 + num2

print (sumar(4,5))

In [ ]:
print((lambda num1, num2 : num1 + num2)(3,8))

In [ ]:
#escriba aquí la función lambda equivalente
print((lambda num1, num2: num1+num2)(4,5))



---

In [ ]:
def saludar ():
  return "hola"

print (saludar())

In [ ]:
#escriba aquí la función lambda equivalente
print((lambda : "hola")())



---

In [ ]:
def contar_caracteres(cadena):
    return len(cadena)

print (contar_caracteres("ejemplos lambda"))

In [ ]:
#escriba aquí la función lambda equivalente
x = lambda cadena: len(cadena)
print (x("ejemplos lambda"))



---

In [ ]:
def area_triangulo(base, altura):
    return (base * altura) / 2

print (area_triangulo(5,3))

In [ ]:
#escriba aquí la función lambda equivalente
x = lambda base, altura: (base*altura)/2
print (x(5,3))

In [ ]:
def mayor (n1, n2):
  if n1 > n2:
    return n1
  else:
    return n2

print (mayor(4,2))

In [ ]:
#escriba aquí la función lambda equivalente
print ((lambda n1,n2: n1 if n1 > n2 else n2)(4,2))



---

In [ ]:
def retornar_pares(lista):
    pares = []
    for num in lista:
      if num % 2 == 0:
        pares.append(num)
    return pares

print(retornar_pares([1,2,3,4,5,6,7,8]))

In [ ]:
print((lambda lista : [num for num in lista if num % 2 == 0])([1,2,3,4,5,6,7,8]))

In [ ]:
respuesta = lambda lista : [num for num in lista if num % 2 == 0]
print(respuesta([54,656,76,87,3,5,7,8]))

In [ ]:
#escriba aquí la función lambda equivalente
print ((lambda lista: [num for num in lista if num % 2 == 0])([1,2,3,4,5,6,7,8]))



---

**Uno de los usos comunes de las funciones lambda es como función interna de una closure function.  Miremos:**


Sin Lambda:

In [ ]:
def potencia(n):
    def eleva(x):
        return x ** n
    return eleva

cuadrado = potencia(2)
print (cuadrado(5))

Con Lambda

In [ ]:
def potencia(n):
    return lambda x : x ** n

cuadrado = potencia(2)
print (cuadrado(5))

**Otro uso interesante de las funciones Lambda es cuándo enviamos una función lambda como argumento de otra función**

Miremos:

In [ ]:
def modificar_lista(lista, funcion_modificadora):
  return [funcion_modificadora(x) for x in lista]

lista = [x for x in range (10)]
print (modificar_lista(lista, lambda num : num * 2)) #duplica cada elemento de la lista
print (modificar_lista(lista, lambda num : num **2 ))#eleva al cuadrado cada elemento de la lista
print (modificar_lista(lista, lambda num : 0 if num % 2 == 0 else 1 ))#convierte los pares en 0 y los impares en 1

Comparemos los siguientes dos programas.  En el primero tenemos funciones tradicionales anidadas y en el segundo se usan funciones lambda anidadas

Con funciones tradicionales anidadas

In [ ]:
def potencia(n):
    def eleva(x):
        return x ** n
    return eleva

cuadrado = potencia(2)
print (cuadrado(5))

Con funciones lambda anidadas

In [ ]:
cuadrado = (lambda n :(lambda x : x ** n))(2)
print(cuadrado(5))

**Funciones Lambda con número variable de argumentos**

El reconocido parámetro *args también aplica para las funciones lambda.  Miremos:

In [ ]:
suma = lambda *args : sum(args)
print (suma(2,3))
print (suma(2,3,4,5))
print (suma(10,5,10,20,5,10))

In [ ]:
# sin lambda
def menor_de_todos(lista_numeros):
  return min(lista_numeros)

print(menor_de_todos([3,5,7,2]))

con lambda

In [ ]:
print((lambda lista_numeros: min(lista_numeros))([3,5,7,2]))

In [ ]:
#Sin lambda
def apto_para_votar(nombre, edad):
  if edad >=18:
    print(nombre, "Si puede votar")
  else:
    print(nombre, "No puede votar")

apto_para_votar("Juan",30)
apto_para_votar("Pedro",17)

Con lambda

In [ ]:
x=(lambda nombre,edad: nombre +" Si puede votar" if edad>= 18 else nombre+ " No puede votar")
print(x("Omar",10), x("Omar",30))

In [ ]:
#Se necesita una función Lambda que reciba una palabra y una letra e indique cuántas veces se encuentra la letra en la palabra

cantidad = lambda palabra, letra : palabra.count(letra)

palabra = input ("Ingrese una palabra")
letra = input ("Ingrese una letra")
print (f"La letra {letra} se encuentra en la palabra {palabra} {cantidad(palabra, letra)} veces" )

## Funciones de orden superior

Una función de orden superior es sencillamente una función que recibe como parámetro otra función y/o retornan una función.  Dicho lo anterior, podemos concluir que ya hemos programado funciones de orden superior antes.



El lenguaje Python nos ofrece algunas funciones de orden superior muy reconocidas dentro del paradigma de programación funcional para el tratamiento de colecciones de datos.

### map

La palabra clave para entender el uso de la función map es **transformación**

La función map recibe una *función* y un *iterable*  devolviendo el resultado de aplicar la función recibida a cada elemento del iterable recibido.  

Esta función **no modifica el iterable original** sino que crea una copia del mismo sobre el cual realiza la transformación solicitada a través de la función que se envía como parámetro.

![map.png]()


Miremos el ejercicio realizado anteriormente aplicando la función map de Python:

In [ ]:
nombres = ["juan", "pedro", "luis"]
#si quiero pasar los nombres a mayúsculas:
print (list(map(str.upper,nombres)))
#si quiero pasar los nombres a formato título
print(list(map(str.title, nombres)))

El código anterior, no solo es más corto sino más eficiente, pues la función map internamente hace un uso óptimo de la memoria para hacer sus transformaciones utilizando una técnica de programación conocida como "lazy evaluation", la cual va aplicando la función de transformación a cada elemento en la medida que se va requiriendo.

Por supuesto que también podemos enviar a la función de orden superior map una función como parámetro creada por nosotros mismos.  Miremos:

In [ ]:
def duplicar(num):
  return num * 2

print (list(map(duplicar,[1,2,3,4,5,6])))

Y por supuesto que también podemos enviar una función lambda como parámetro a la función de orden superior map.  Miremos:

In [ ]:
print (list(map(lambda num:num*-1,[1,-2,3,4,-5,6])))

In [ ]:
lista = [2, 3, 4, 5]
nueva_lista = list(map(lambda x: x**2, lista))
print(nueva_lista)

**Realizar los siguientes ejercicios propuestos haciendo uso de la función de orden superior map**

Convertir una lista de temperaturas en grados Celsius a grados Fahrenheit utilizando una función propia y la función map(). La fórmula para la conversión es: F = (C * 1.8) + 32.



---

Dada una lista de palabras, obtener una lista que contenga la longitud de cada palabra utilizando una función lambda y la función map.



---

Dado un diccionario cuya clave es el nombre del estudiante y valor una lista de sus 3 notas, obtener una lista con los promedios de cada estudiante utilizando una función propia y la función map.

In [ ]:
def promedio (lista):
  return sum(lista)/len(lista)

diccionario = {"juan":[3,4,5], "luis": [5,2,3]}

print (list(map(promedio, diccionario.values())))



---


### filter

La palabra clave para entender el uso de la función filter es **filtro**

La función filter recibe una *función* y un *iterable*  devolviendo el conjunto de datos del iterable que cumplan con el filtro evaluado en la función dada.  

Esta función **no modifica el iterable original** sino que crea una copia del mismo sobre el cual se aplica el filtro.  La función filter crea un objeto simple que alberga una referencia a la lista original, la función proporcionada y un índice de dónde ir en la lista original, lo que ocupa menos memoria.

**La función pasada como argumento a la función filter debe devolver un valor booleano**, que ayudará a evaluar cada elemento del iterable.

![filter.png]()

Antes de usar la función filter vamos a mirar el siguiente ejercicio

In [ ]:
def pares(num):
  return num % 2 == 0

def impares(num):
  return num % 2 != 0

def filtrar (funcion, numeros):
  resultado = []
  for n in numeros:
    if funcion(n):
      resultado.append(n)
  return resultado

pares
print (filtrar(pares, [1,2,3,4,5,6,7,8,9]))
#impares
print (filtrar(impares, [1,2,3,4,5,6,7,8,9]))

Ahora intentaremos lograr los resultados del ejercicio anterior usando la función filter.

In [ ]:
#pares
print (list(filter(lambda x : x % 2 == 0 if isinstance(x,int) else print("solo numeros") , [1,2,3,4,5,6,7,8,"r"])))
#impares
print (list(filter(lambda x : x % 2 != 0, [1,2,3,4,5,6,7,8,9])))

Se tiene la siguiente información sobre los estudiantes de un grupo:

In [ ]:
estudiantes = [{"nombre": "juan", "edad": 23, "genero": "m", "ciudad": "Manizales"},
               {"nombre": "pedro", "edad": 17, "genero": "M", "ciudad": "Pereira"},
               {"nombre": "lina", "edad": 42, "genero": "f", "ciudad": "Manizales"},
               {"nombre": "carlos", "edad": 13, "genero": "m", "ciudad": "Cali"},
               {"nombre": "diana", "edad": 20, "genero": "f", "ciudad": "Manizales"},
               {"nombre": "luisa", "edad": 15, "genero": "f", "ciudad": "Cali"},
               {"nombre": "julian", "edad": 22, "genero": "M", "ciudad": "Pereira"},
               {"nombre": "kelly", "edad": 14, "genero": "f", "ciudad": "Cali"},
              ]

#Lista de los hombres
#print (list(filter(lambda x: x["genero"].lower() == "m", estudiantes )))

#lista de las mujeres
#print(list(filter(lambda x: x["genero"] == "f", estudiantes)))


#lista de los menores de edad
#print(list(filter(lambda x: x["edad"] < 18, estudiantes)))

#lista de los mayores de edad
#print(list(filter(lambda x: x["edad"]>=18, estudiantes)))

#lista de los nombres de los estudiantes de una determinada ciudad
#print(list(filter(lambda x: x["ciudad"]=="Manizales", estudiantes)))

#Lista de los hombres menores de edad
#print (list(filter(lambda x: x["genero"].lower() == "m" and x["edad"] < 18, estudiantes )))
print (list(map(lambda y: y["nombre"],filter(lambda x: x["genero"].lower() == "m" and x["edad"] < 18, estudiantes ))))

**Realizar los siguientes ejercicios propuestos haciendo uso de la función de orden superior filter**

Tome una lista de números e imprima solamente aquellos que sean múltiplos de 3

In [ ]:
print(list(filter(lambda x: x%3==0, [2,3,4,5,6,7,8,9])))



---

Cree una lista de palabras y fíltrela mostrando de esa lista únicamente las palabras palíndromes (se leen igual de izquierda a derecha que de derecha a izquierda)

In [ ]:
print(list(filter(lambda x: x==x[::-1],["pao", "olo", "amor","apa"])))



---

Tome una lista de palabras y muestre solo aquellas palabras que inician con una vocal.

In [ ]:
def inicia_vocal(palabra):
  x = ["a","e","i","o","u"]
  if palabra[0].lower() in x:
    return True
  return False

print(list(filter(inicia_vocal, ["sena", "andres", "pizza", "europa", "sol"] )))



---

Cree una lista de objetos de la clase Estudiante que tiene como atributos el nombre y la nota del estudiante.  Muestre posteriormente el listado de los estudiantes que aprobaron y no aprobaron usando la función filter.

In [ ]:
class Estudiante:
  def __init__(self, nombre, nota):
    self.nombre = nombre
    self.nota = nota

estudiantes = [Estudiante("Juan", 2), Estudiante("Luis", 4), Estudiante("Carla", 4.5)]
print ("Aprobaron")
print(list(map(lambda y: y.nombre,filter(lambda x: x.nota >= 3, estudiantes))))
print ("No Aprobaron")
print(list(map(lambda y: y.nombre,filter(lambda x: x.nota < 3, estudiantes))))



---

Tome una lista de palabras y muestre solo aquellas palabras que contienen las 5 vocales.

In [ ]:
def cinco_vocales(palabra):
  vocales = ["a","e","i","o","u"]
  c=0
  for vocal in vocales:
    if vocal in palabra:
      c+=1
      if c>=5:
        return True
  return False

print(list(filter(cinco_vocales,["caballo", "aurelio", "corazon", "murcielago"])))



---

### reduce

La palabra clave para entender el uso de la función reduce es **consolidar**

Para usar esta función, debemos importarla del módulo **functools**



```
from functools import reduce
```


La función reduce recibe una *función* y un *iterable* importante saber que la *función* obligatoriamente recibe dos parámetros, el primero actúa como acumulador y el segundo como cada elemento de la colección.  

La operación que se realiza al interior de la *función* es la que determina el comportamiento de reduce

El resultado de aplicar la función reduce sobre un iterable es un único valor.  Miremos:

![reduce.png]()

Queremos obtener la sumatoria de todos los números de una lista dada.  Primero miremos cómo lo haríamos sin reduce:

In [ ]:
def sumar(y, x=0):
  return x+y

def reducir(funcion, numeros):
  total = 0
  for n in numeros:
    total += funcion (n)
  return total

print (reducir(sumar, [2,3,4,5]))

Ahora con reduce:

In [ ]:
from functools import reduce
def sumar (x, y):
  print("x: ",x)
  print("y: ",y)
  return x + y

print (reduce(sumar, [2,3,4,5]))

Con reduce y función lambda:

In [ ]:
from functools import reduce
print (reduce(lambda x,y : x + y, [2,3,4,5]))

**Realice los siguientes ejercicios usando la función reduce**

A partir de una lista de objetos de tipo Empleado cuyos atributos son el nombre y el salario, determine el salario más alto y el salario promedio de todos los empleados.

In [ ]:
from functools import reduce
class Empleado:
  def __init__(self, nombre, salario):
    self.nombre = nombre
    self.salario = salario

def mayor(a, b):
  if a.salario > b.salario:
    return a
  else:
    return b

empleados = [Empleado("Juan",100000),Empleado("Pedro",300000),Empleado("Luis",200000)]

salario_mayor = reduce(mayor,empleados)
print (salario_mayor.salario)



---

Dada una lista de números mostrar la sumatoria de los pares.

In [ ]:
from functools import reduce
print (reduce(lambda x,y : x + y, filter(lambda x: x % 2 == 0, [3,5,6,8])))

In [ ]:
from functools import reduce







lista_numeros = [3,4,54,7,65,3,4,6]

pares = list(filter(lambda x: x % 2 == 0, lista_numeros))



suma_pares = reduce(lambda x,y : x + y, pares)

print (pares)

print(suma_pares)



---

Dada una lista de objetos de tipo producto cuyos atributos son el nombre, el precio unitario y la cantidad.  Obtener el valor del inventario (dinero total que se obtendría si todos los productos se vendieran).

In [ ]:
from functools import reduce

class Producto:
  def __init__(self, nombre, precio, cantidad):
    self.nombre = nombre
    self.precio = precio
    self.cantidad = cantidad

productos = [Producto("computador", 1000, 12), Producto ("TV", 3000, 5)]
inventario_total = reduce(lambda x,y : x.precio*x.cantidad + y.precio * y.cantidad, productos )
print (inventario_total)

In [ ]:
from functools import reduce

class Producto:
  def __init__(self, nombre, precio, cantidad):
    self.nombre = nombre
    self.precio = precio
    self.cantidad = cantidad

  def total_producto(self):
    return self.precio * self.cantidad


productos = [Producto("computador", 1000, 12), Producto ("TV", 3000, 5), Producto("Tablet", 2000, 5)]
totales = list(map(lambda x: x.total_producto(), productos))
print (totales)
inventario_total = reduce(lambda x,y: x+y, totales )
print (inventario_total)



---

### Anidamiento de funciones de orden superior

Siempre que se utilicen las funciones de orden superior con la sintaxis adecuada, estas se pueden concatenar o anidar a otras para lograr resultados más detallados.  Miremos:

Obtener la sumatoria de los números impares de una lista:

In [ ]:
from functools import reduce

lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

salida = reduce(lambda x, y: x+y, filter(lambda x: x % 2 != 0, lista))

print(salida)

Obtener la sumatoria de los cuadrados de los números pares en una lista

In [ ]:
lista = [1, 2, 3, 4, 5, 6]
salida = reduce (lambda y, z: y+z,  map (lambda a: a**2,filter (lambda x : x % 2 == 0, lista)))
print (salida)

# Apropiación

Para los siguientes ejercicios puedes concatenar diferentes funciones de orden superior

1. Obtener el promedio de los números pares de una lista



---

2. Obtener los números que son mayores al promedio de los números de una lista



---

3. Obtener el producto de los elementos de una lista que son divisibles por 3



---

4. Dado un diccionario de ventas por día, en el que la llave es el nombre del día y el valor el total de venta en ese día, encontrar el promedio de ventas diarias



---

5. Dada una lista de palabras, convertir a mayúscula aquellas palabras cuya longitud sea menor de 4 caracteres



---