<a href="https://colab.research.google.com/github/edelgado-1975/PythonSena/blob/main/3_Colecciones_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![M I S I Ó N.png]()

# Introducción
Las colecciones nos permiten agrupar datos, objetos y otras estructuras bajo un mismo nombre.

**¿Ventajas?**

En Python existen tres colecciones básicas: Listas, Tuplas y Diccionarios

# Listas
Las listas son el tipo de colección en Python equivalente a los arreglos.  Colección ordenada de elementos accesibles a través de un índice

## Creación y Acceso
Las listas utilizan corchetes para la creación y acceso de sus elementos

In [ ]:
lenguajes = ["Python", "Java", "PHP"]
print (lenguajes)  #Imprime la lista completa
print (lenguajes[0]) #Imprime el valor de la posición 0
lenguajes [0] = "Python 3" #Da un nuevo valor al elemento de la posición 0
print (lenguajes)

¿Podrías indicar qué imprime el siguiente código?

In [ ]:
numeros = [3,4,6,2,6,8,4,9]
res = numeros [-3] + numeros [5]
print (res)

otra forma alternativa de crear listas es mediante la función **list** que recibe como argumento un objeto iterable

In [ ]:
mi_lista = list ("1234567")
print (mi_lista)

Una lista en Python puede almacenar elementos de cualquier tipo de dato, incluso otras listas

In [ ]:
mi_lista = [2, 3.5, True, "amigo", [3, 8, "a"]]
print (mi_lista)

¿De qué manera accederías al elemento con valor 6 en la siguiente lista?.  Completa el código de la línea 2

In [ ]:
mi_lista = [1, 2, 3, ['p', 'q', [5, 6, 7]]]

¿Acertaste? De esa manera podemos acceder a cualquier elemento de una lista.

¿Recuerdas el concepto de **Slicing** que vimos con los datos tipo cadena?.  Pues también es aplicable a las listas.


¿Podrías indicarnos antes de ejecutar el código, que devuelven las siguientes líneas?

In [ ]:
mi_lista = list (range (1,10))
print (mi_lista)
print (mi_lista [1:4])
print (mi_lista [:2])
print (mi_lista [7:])
print (mi_lista [-5:-1])
print (mi_lista [-3:])

Como vamos viendo, las listas en Python son muy flexibles.  Aquí algunas otras operaciones nativas sobre las listas.

In [ ]:
mi_lista = [1, 2, 3, 4, 5]
mi_lista [0:3] = ["a", "b", "c"] #Asignación de varios valores
print (mi_lista)

In [ ]:
mi_lista = [1, 2, 3, 4, 5]
mi_lista = mi_lista + [6] #Agregar un valor con el operador +
print (mi_lista)
mi_lista = mi_lista + [7, 8, 9] #Agregar varios valores
print (mi_lista)

In [ ]:
mi_lista = [1, 2, 3]
x, y, z = mi_lista #Asignar a varias variables el contenido de una lista
print (f"valor de x {x}")
print (f"valor de y {y}")
print (f"valor de z {z}")

## Eliminación  e Inserción
Para eliminar un elemento de una lista utilizamos la palabra reservada del

In [ ]:
lenguajes = ["Python", "Java", "PHP"]
del lenguajes[1]
print (lenguajes)

Podemos insertar datos en una posición específica con la función **insert** o al final de la lista con **append**

In [ ]:
lenguajes = ["Python", "Java", "PHP"]
lenguajes.append ("C++")
lenguajes.append ("Ruby")
lenguajes.insert(2, "Visual Basic")
print (lenguajes)

Para saber si un elemento se encuentra dentro de una lista usamos la palabra reservada **in**

In [ ]:
lenguajes = ["Python", "Java", "PHP"]
print ("Python" in lenguajes)
print ("C#" in lenguajes)

## Recorrido de listas
Dado que cada lista es un objeto iterable, las podemos recorrer con nuestro ciclo for



```
for variable in lista:
```

In [ ]:
numeros = [1, 2, 3, 4, 5]
for num in numeros:
  print (num)

1
2
3
4
5

También nos las podemos arreglar para recorrer una lista a través de sus índices como convencionalmente se hace en otros lenguajes.  Para ello, necesitamos usar el método **len** que nos devuelve la longitud de la lista.

In [ ]:
mi_lista = [4, 5, 6, 7]

for indice in range(0, len(mi_lista)):
	  print(mi_lista[indice])

Python nos ofrece una forma alternativa de acceder al índice de cada elemento de una lista a través de la función **enumerate**

In [ ]:
numeros = [3, 29, 34, 42, 54]
for x in enumerate(numeros):
  print (x)

Debido a que la función enumerate devuelve para cada elemento de la lista un par (índice - valor), podemos obtener ambos al tiempo en la misma variable como en el ejemplo anterior o acceder a cada uno a través de variables diferentes.  Veamos:

In [ ]:
numeros = ["A", "B", "C", "D", "E"]
for indice, valor in enumerate(numeros):
  print (f"El valor {valor} se encuentra en la posicion {indice}")

Con lo visto hasta ahora, muéstranos cómo recorrerías una lista de la cual no conoces su longitud usando el ciclo while.

Se cuenta con dos listas y se desean recorrer de manera simultánea mostrando el valor de las dos en cada posición.  ¿Ayudarías a terminar el código de tal manera que se obtenga el siguiente resultado?


```
ma - pa
me - pe
mi - pi
mo - po
mu - pu
```

In [ ]:
lista_1 = ["ma", "me", "mi", "mo", "mu"]
lista_2 = ["pa", "pe", "pi", "po", "pu"]

#continua aquí



---


Después de haberlo logrado, miremos otra alternativa para el recorrido de dos listas simultáneamente a través de la función **zip**

In [ ]:
lista_1 = ["ma", "me", "mi", "mo", "mu"]
lista_2 = ["pa", "pe", "pi", "po", "pu"]
for x in zip (lista_1, lista_2):
    print (x)

A la función **zip** le podemos pasar cualquier número de listas y tendrá la capacidad de generar un iterador que las recorra simultáneamente.

In [ ]:
lista_1 = ["ma", "me", "mi", "mo", "mu"]
lista_2 = ["pa", "pe", "pi", "po", "pu"]
lista_3 = ["la", "le", "li", "lo", "lu"]
for x in zip (lista_1, lista_2, lista_3):
    print (x)

('ma', 'pa', 'la')
('me', 'pe', 'le')
('mi', 'pi', 'li')
('mo', 'po', 'lo')
('mu', 'pu', 'lu')

## Métodos aplicables a las listas

Existen diferentes métodos útiles a la hora de trabajar con listas.  Aquí algunas de ellas:

El método **sort()** ordena los elementos de una lista

In [ ]:
mi_lista = [5, 6, 3, 8, 1]
mi_lista.sort()  #ordena la lista
print (mi_lista)

Podemos pasarle el argumento **reverse=True** al método **sort()** para que ordene inversamente

In [ ]:
mi_lista = [5, 6, 3, 8, 1]
mi_lista.sort(reverse=True)  #ordena la lista
print (mi_lista)

El método **remove()** recibe como argumento un objeto y lo borra de la lista

In [ ]:
lenguajes = ["Python", "Java", "PHP"]
lenguajes.remove("Java")
print (lenguajes)

Nota que la diferencia entre **remove()** y **del** es que al primero le puedo enviar el valor que deseo remover mientras que el segundo **del** trabaja con los índices

In [ ]:
lenguajes = ["Python", "Java", "PHP"]
del lenguajes [1]
print (lenguajes)

El método **reverse()** invierte el contenido de la lista

In [ ]:
lenguajes = ["Python", "Java", "PHP"]
lenguajes.reverse()
print (lenguajes)

['PHP', 'Java', 'Python']

Las cadenas no tienen el método .reverse() pero podemos simularlo haciendo unas conversiones entre listas y cadenas:

In [ ]:
cadena = "Hola mundo"
lista = list(cadena)
lista.reverse()
cadena = "".join(lista)
print (cadena)

**Otros métodos o funciones aplicables sobre listas**


```
clear()
Vacía todos los ítems de una lista:
lista.clear()
[]

extend()
Une una lista a otra:
l1 = [1,2,3]
l2 = [4,5,6]
l1.extend(l2)
[1, 2, 3, 4, 5, 6]

count()
Cuenta el número de veces que aparece un ítem:
["Hola", "mundo", "mundo"].count("Hola")
1

index()
Devuelve el índice en el que aparece un ítem (error si no aparece):
["Hola", "mundo", "mundo"].index("mundo")
1

pop()
Extrae un ítem de la lista y lo borra:
l = [10,20,30,40,50]
print(l.pop())
50
[10, 20, 30, 40]

```

# Tuplas

## Generalidades
Las Tuplas son similares a las listas pero con la característica de ser inmutables, es decir, sus valores no pueden cambiar.  Las Tuplas se crean con paréntesis **()** en lugar de corchetes **[]**  pero al igual que las listas, se accede a sus posiciones con corchetes **[]**  Veamos:

In [ ]:
mi_tupla = ("a","b","c","d")
print (type(mi_tupla))
print (mi_tupla)
print (mi_tupla[1])
print (mi_tupla[1:3])
print (mi_tupla[:-1])

Intenta cambiar el contenido de la posición 1 en la siguiente tupla por el valor de "f":

In [ ]:
mi_tupla = ("a","b","c","d")
#tu código aqui
print (mi_tupla[1])

Como puedes ver, el contenido de una **tupla es inmutable**

**¿Qué ventaja tiene entonces una Tupla sobre una Lista?**

Las Tuplas al igual que las Listas pueden almacenar diferentes tipos de elementos y pueden conformarse por otras listas o tuplas internas.  El acceso a sus elementos funciona igual que con las listas.

In [ ]:
mi_tupla = (100, 'Hola', [1, 2, 3], -50)
print (mi_tupla[2][-1]) #accediendo al número 3
mi_tupla = (100, 'Hola', (1, (200, 'D', ["x","y","z"])), (1, 2, 3), -50)
print (mi_tupla [2][1][2][1]) #accediendo a la letra "y"

Las Tuplas comparten varios métodos de las listas, sin embargo, por ser inmutables, las Tuplas no usan ningún método en cuyo resultado sea un cambio de contenido.  Ejemplo append(), insert(), remove(), sort(), reverse(), etc.

In [ ]:
mi_tupla = (1,2,5,2,6,9,3,2,78,45,3,2,0)
print (mi_tupla.count (2)) #funciona.  No cambia el contenido de la tupla

In [ ]:
mi_tupla = (1,2,5,2,6,9,3,2,78,45,3,2,0)
mi_tupla.sort() #No funciona.  Cambia el contenido de la tupla

Las tuplas también las podemos crear a partir de la función **tuple** que recibe un objeto iterable

In [ ]:
mi_tupla = tuple ("amoamimama")
print (mi_tupla)

Por lo demás, podemos resumir diciendo que las listas y las tuplas son semejantes, con la diferencia que las segundas no pueden cambiar su contenido.

In [ ]:
mi_tupla = tuple (input ("ingrese una frase"))
print (mi_tupla)
print (f"La cantidad de elementos de la tupla es {len(mi_tupla)}")
for dato in mi_tupla:
  print (dato)

for dato in enumerate(mi_tupla):
  print (dato)

## Paso de Tupla a Lista y Lista a Tupla
Las funciones **list** y **tuple** son las que nos permiten realizar este tipo de conversiones.  miremos

**Paso de Lista a Tupla**

In [ ]:
mi_lista = [1,2,3,4,5]
print (f"{mi_lista} es de tipo {type(mi_lista)}")
mi_tupla = tuple (mi_lista)
print (f"{mi_tupla} es de tipo {type(mi_tupla)}")

**Paso de Tupla a Lista**

In [ ]:
mi_tupla = (1,2,3,4,5)
print (f"{mi_tupla} es de tipo {type(mi_tupla)}")
mi_lista = list (mi_tupla)
print (f"{mi_lista} es de tipo {type(mi_lista)}")

In [ ]:
mi_tupla = (3,8,5,1,9)
mi_lista = list (mi_tupla)
mi_lista.sort()
mi_tupla = tuple (mi_lista)
print (mi_tupla)

# Apropiación

1. Pregunte al usuario cuántos elementos desea ingresar en una lista, luego solicite cada uno de ellos y presente el contenido de la lista y su contenido invertido.

2. Solicite al usuario dos frases y devuelva una lista con todas las letras que se repiten en la misma posición de ambas listas

3. Cree una aplicación que presente un menú con las siguientes opciones:


```
Aplicaciones con Listas

1. Ingresar lista nueva
2. Ordenar lista
3. Promedio lista
4. Buscar elemento
5. Salir
```

**Ingresar lista** solicita los elementos de una lista validando que cada elemento sea un número entero y terminando con el ingreso del caracter numeral **#**

**Ordenar lista** Presenta los valores de la lista ordenados.

**Promedio lista** Muestra el promedio de los valores de la lista

**Buscar elemento** solicita un número a buscar en la lista e indica si se encuentra en ella y cuántas veces aparece.

**Salir** Termina la ejecución del programa

1. Leer una frase y almacenar en una tupla la frase leída pero sin espacios.  Mostrar el contenido de la tupla.

In [ ]:
frase = input("Ingrese frase")
lista = []
for letra in frase:
  if letra != " ":
     lista.append(letra)

tupla = tuple(lista)
print (tupla)

2.
*   Leer 4 números y almacenarlos en una Tupla
*   Mostrar el contenido de la Tupla
*   Presentar 4 listas, en las que se encuentren los divisores de cada valor almacenado en la tupla

In [ ]:
l1, l2, l3, l4 = [],[],[],[]
tupla = (int(input("Ingrese numero 1:")), int(input("Ingrese numero 2:")), int(input("Ingrese numero 3:")), int(input("Ingrese numero 4:")))
print (tupla)

for pos in range (0,4):
  for x in range (1, tupla[pos]+1):
    if (tupla[pos] % x == 0):
      if pos == 0:
        l1.append(x)
      elif pos == 1:
        l2.append(x)
      elif pos == 2:
        l3.append(x)
      else:
        l4.append(x)

print (l1, l2, l3, l4, sep="\n")

# Conjuntos

## Generalidades
Los conjuntos son colecciones **desordenadas** y que **no aceptan valores repetidos**.  Se crean con Llaves **{}** o llamando a la función **set**. Los conjuntos permiten cambiar su contenido pero dado que no poseen un orden, **no aceptan operaciones indexadas**.  Miremos:

In [ ]:
mi_conjunto = {2,5,6,2,3,4,2}
print (mi_conjunto) #Los valores repetidos no se toman en cuenta
print (type(mi_conjunto))

{2, 3, 4, 5, 6}
<class 'set'>

In [ ]:
mi_conjunto = set (range (1,9))
print (mi_conjunto)

{1, 2, 3, 4, 5, 6, 7, 8}

En los conjuntos el orden de inserción no es necesariamente el orden de almacenamiento

In [ ]:
mi_conjunto = {'P', 'H', 'A', 'Z'}
print (mi_conjunto)

{'A', 'Z', 'H', 'P'}

Para adicionar elementos al conjunto utilizamos el método **add()**

In [ ]:
mi_conjunto = set (range (1,9))
print (mi_conjunto)
mi_conjunto.add(30)
print (mi_conjunto)

In [ ]:
lista = [1,2,3,3,2,4,5,1]
mi_conjunto = set(lista)
lista = list(mi_conjunto)
print (lista)

Comprobamos si un elemento se encuentra o no dentro de un conjunto con la palabra reservada **in**

In [ ]:
mi_conjunto = {3,4,6,8,2}
print (mi_conjunto)
num = int(input("Cual número desea saber si está en el conjunto:"))
print (f"Está el nummero {num} en el conjunto {mi_conjunto}?: {num in mi_conjunto}")

**Recorrido de conjuntos**

In [ ]:
mi_conjunto = {2,3,5,6,7,4}
for valor in mi_conjunto:
  print (valor)

## Métodos en Conjuntos

**discard()** quita un elemento del conjunto

In [ ]:
c = {2,5,7,9,3,1}
c.discard (5)
print(c)

{1, 2, 3, 7, 9}

**isdisjoint()** Comprueba si el conjunto es disjunto de otro conjunto, es decir, si no hay ningún elemento en común entre ellos:

In [ ]:
c1 = {2,5,7}
c2 = {9,3,1}
print (f"c1 disjoint c2 = {c1.isdisjoint(c2)}")
c3 = {9,3,5}
print (f"c1 disjoint c3 = {c1.isdisjoint(c3)}")

c1 disjoint c2 = True
c1 disjoint c3 = False

**issubset()**  Comprueba si el conjunto es subconjunto de otro conjunto, es decir, si sus ítems se encuentran todos dentro de otro:

In [ ]:
c1 = {2,5,7}
c2 = {2,5}
print (f"c1 issubset c2 = {c1.issubset(c2)}")
c3 = {2,7,3,5}
print (f"c1 issubset c3 = {c1.issubset(c3)}")

c1 issubset c2 = False
c1 issubset c3 = True

**issuperset()** Comprueba si el conjunto es contenedor de otro subconjunto, es decir, si contiene todos los ítems de otro:

In [ ]:
c1 = {2,5,7}
c2 = {2,5}
print (f"c1 issuperset c2 = {c1.issuperset(c2)}")
c3 = {2,7,3,5}
print (f"c1 issuperset c3 = {c1.issuperset(c3)}")

c1 issuperset c2 = True
c1 issuperset c3 = False

**union()** Une un conjunto a otro y devuelve el resultado en un nuevo conjunto:

In [ ]:
c1 = {2,5,7}
c2 = {2,5,3}
print (f"c1 union c2 = {c1.union(c2)}")

c1 union c2 = {2, 3, 5, 7}

**difference()**  Encuentra los elementos no comunes entre dos conjuntos:

In [ ]:
c1 = {2,5,7}
c2 = {2,5,3}
print (f"c1 difference c2 = {c1.difference(c2)}")
print (f"c2 difference c1 = {c2.difference(c1)}")

c1 difference c2 = {7}
c2 difference c1 = {3}

**symmetric_difference()**
Devuelve los elementos simétricamente diferentes entre dos conjuntos, es decir, todos los elementos que no concuerdan entre los dos conjuntos:

In [ ]:
c1 = {2,5,7,8,9,12}
c2 = {2,5,3,0,8}
print (f"c1 symmetric_difference c2 = {c1.symmetric_difference(c2)}")

c1 symmetric_difference c2 = {0, 3, 7, 9, 12}

**intersection()**  Devuelve un conjunto con los elementos comunes en dos conjuntos:

In [ ]:
c1 = {2,5,7}
c2 = {2,5,3}
print (f"c1 intersection c2 = {c1.intersection(c2)}")

c1 intersection c2 = {2, 5}

## Apropiación Conjuntos

1. Leer una frase y devolver el conjunto de caracteres diferentes que se encuentran presentes en la frase leída.

2. En una escuela se permite la inscripción de sus alumnos a las siguientes actividades deportivas: futbol (f), baloncesto (b).
Realice un programa que permita ingresar el nombre de sus estudiantes e inscribir a cada uno en uno o los dos deportes.

La aplicación debe mostrar los siguientes listados:
  * Estudiantes inscritos en fulbol
  * Estudiantes inscritos en baloncesto
  * Estudiantes inscritos en ambos deportes
  * Todos los estudiantes inscritos en algún deporte
  * Estudiantes inscritos en solo un deporte.




Genere un menú con las opciones de la aplicación

# Diccionarios

## Generalidades

Los diccionarios son un tipo de colección donde cada elemento almacenado contiene una estructura de tipo clave-valor.  En los diccionarios las claves deben ser únicas, pues es através de ellas que podemos acceder a los valores.  La definición al igual que los conjuntos es por medio de llaves **{}**

In [ ]:
mi_dic = {1: "uno", 2:"dos"}
print(mi_dic[1])
print(mi_dic)

uno
{1: 'uno', 2: 'dos'}

## Acceso

Para acceder a un valor determinado del diccionario ya no lo hacemos por su posición sino por su clave.  Las claves pueden ser de tipo numéricas o strings.  Si intentamos acceder a un elemento del diccionario a través de una clave que no existe obtendremos un error.

In [ ]:
capitales = {"Manizales": "Caldas", "Pereira": "Risaralda", "Cali": "Valle"}
print (capitales)#mostrar todos los pares clave-valor
print (f"La capital de Manizales es {capitales['Manizales']}")#acceso por clave
capitales["Armenia"] = "Quindio" #agregar elemento al diccionario
print (capitales)

{'Manizales': 'Caldas', 'Pereira': 'Risaralda', 'Cali': 'Valle'}
La capital de Manizales es Caldas
{'Manizales': 'Caldas', 'Pereira': 'Risaralda', 'Cali': 'Valle', 'Armenia': 'Quindio'}

Los diccionarios son mutables, por lo tanto podemos cambiar los valores de sus elementos

In [ ]:
capitales = {"Manizales": "Caldas", "Pereira": "Risaralda", "Cali": "Valle"}
capitales["Cali"] = "Valle del Cauca"
print (capitales)

{'Manizales': 'Caldas', 'Pereira': 'Risaralda', 'Cali': 'Valle del Cauca'}

## Eliminación

Usamos la función **del()** para borrar un elemento del diccionario

In [ ]:
capitales = {"Manizales": "Caldas", "Pereira": "Risaralda", "Cali": "Valle"}
del(capitales ["Cali"]) #se elimina el elemento con la clave dada
print (capitales)

{'Manizales': 'Caldas', 'Pereira': 'Risaralda'}

Los valores en cada campo de un diccionario pueden ser de cualquier tipo e incluso de otro tipo de colección

In [ ]:
alumnos = {"juan": [23,"calle 10", 323], "Luis": [45, "carrera 12"]}
print (alumnos["Luis"])

[45, 'carrera 12']

## Recorrido de diccionarios

In [ ]:
edades = {'Hector':27,'Juan':45,'Maria':34}

for x in edades:
    print(x) #Acceso a las claves

for clave in edades:
    print(edades[clave]) #Acceso a los valores

Hector
Juan
Maria
27
45
34

El método **items()**  devuelve el par clave-valor en una misma variable

In [ ]:
edades = {'Hector':27,'Juan':45,'Maria':34}
for x in edades.items():
    print(x) #obteniendo clave-valor en la misma variable

for p, q in edades.items():
    print(p," - ", q) #obteniendo clave y valor en diferentes variables

('Hector', 27)
('Juan', 45)
('Maria', 34)
Hector  -  27
Juan  -  45
Maria  -  34

El método **keys()** devuelve las llaves

In [ ]:
for item in edades.keys():
    print(item)

Hector
Juan
Maria

El método **values()** devuelve los valores

In [ ]:
for item in edades.values():
    print(item)

27
45
34

# Apropiación Diccionarios

1. Realice un programa traductor de frutas del español al inglés.  Para ello, solicite el nombre de una fruta al usuario y muestre su traducción al inglés.  Si la fruta no se encuentra en el diccionario, permítale al usuario agregarla con su respectiva traducción.  El programa solo termina cuando el usuario ingresa una fruta que no está en el diccionario y no desea agregarla.

In [ ]:
alu = {"1": ["Juan", 33]}
print (alu["1"][0])

Juan

2. Se requiere almacenar la siguiente información de los 5 estudiantes de un grupo:
**id, nombre, edad, nota**

Posteriormente:
* (a) Mostrar toda la información de todos los estudiantes.
* (b) solicitar el id de un estudiante para mostrar su respectiva información.